{% extends 'layout.html' %}

{% block content %}
	<div id="amigo">
		<div class="info-banner">
			<h1>Joined queue</h1>
		</div>
		<h1>I'm the amigo, bitch</h1>
		<h3>and my daddy is {{ip}}</h3>
		<form method="post" action="/searchTrack" value="hello">
			<input id="track-search-input" type="text" name="amigo[search]"/>
			<input type="submit" value="piss into the wind"/>
		</form>
		<div id="amigo_playlist"></div>
	</div>
	
	<script>
		var socket = io.connect('http://{{ip}}:8080');
		socket.emit('getPlaylist', {});
		console.log('tried to send');
		socket.on('providePlaylist', function(data) {
		  console.log('recieved playlist');
		  $("#amigo_playlist").empty();
		  for(var i = 0; i < data.length; i++) {
			$("#amigo_playlist").append("<p>" + data[i].name + "</p>");
		  }
		});
	</script>
{% endblock %}/
