{% extends 'layout.html' %}

{% block content %}
  <div id="amigo">
    <div class="info-banner">
      <h1>Joined queue <div class="capitalize">{{r_id}}</div></h1>
    </div>
    <h3>Search for some tunes!</h3>
    <form method="post" action="/{{r_id}}/searchTrack" value="hello">
      <input id="track-search-input" type="text" class="line" name="amigo[search]" placeholder="SexyBack, probably" autocomplete="off" />
      <input id="search-btn" type="submit" value="Search"/>
    </form>
    <div class="amigoPlaylist"></div>
  </div>
  
  <script>
    $("#amigo").parent(".main-content").css("overflow","scroll");

    var socket = io.connect('/');

    var roomNum = '{{r_id}}';

    socket.on('connect', function() {
      socket.emit('joinq', roomNum);
    });

    socket.on('providePlaylist', function(data) {
      $(".amigoPlaylist").empty();
      for(var i = 0; i < data.length; i++) {
        var songEntry = " \
          <div class='trackEntry' uri=" + data[i].uri + "> \
            <div class='left'> \
              <img src=" + data[i].album.images[2].url + "> \
            </div> \
            <div class='right'> \
              <section class='top'> \
                <p>" + data[i].name + "</p> \
              </section> \
              <section class='bottom'> \
                <p>" + data[i].artists[0].name + "</p> \
              </section> \
            </div> \
          </div>"
      $(".amigoPlaylist").append(songEntry);
      $(".amigoPlaylist").css('border', 'solid #7a8491 1px');
    }
    });
  </script>
{% endblock %}/
