<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>One Queue</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/main.css" media="screen" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src='https://cdn.socket.io/socket.io-1.4.5.js'></script>

    <script>
      $(document).ready(function() {
        $("#bg-btn").click(function() {
          if ($("#bg-btn").text() == "Make me boring") {
            $("#bg-btn").html("Make me fun");
            $("body").css("background", "linear-gradient(to right,  #e6edf4, #8660b4 , #e6edf4)");
          } else {
            $("#bg-btn").html("Make me boring");
            $("body").css("background-image", "url(/nyancat.gif)");
            $("body").css("background-repeat", "repeat");
          }
        });
      });
    </script>
  </head>
  <body>
    <div class="navbar">
      <div class="brand-container">
        <div class="navbar-brand" id="brand">1Q</div>
        <div class="navbar-brand" id="fun">OneQueue</div>
      </div>

    {% if user %}
      <a href="/logout">Log Out</a>
    {% endif %}
    </div>
    <button id="bg-btn">Make me fun</button>
    <div class="main-content">
      {% block content %}
    </div>
  </body>
</html>