<!DOCTYPE html>
<html>
  <head>
    <title>1Q</title>
    <link rel="stylesheet" type="text/css" href="/main.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src='https://cdn.socket.io/socket.io-1.4.5.js'></script>
  </head>
  <body>
    <div class="navbar">
      <div class="brand-container">
        <div class="navbar-brand" id="brand">1Q</div>
        <div class="navbar-brand" id="fun">OneQueue</div>
      </div>

    {% if user %}
      <a href="/logout">Log Out</a>
    {% endif %}
    </div>
    <div class="main-content">
      {% block content %}
    </div>
    <script>
      $.fn.clickOff = function(callback, selfDestroy) {
        var clicked = false;
        var parent = this;
        var destroy = selfDestroy || true;
        
        parent.click(function() {
            clicked = true;
        });
        
        $(document).click(function(event) { 
            if (!clicked) {
                callback(parent, event);
            }
            if (destroy) {
                //parent.clickOff = function() {};
                //parent.off("click");
                //$(document).off("click");
                //parent.off("clickOff");
            };
            clicked = false;
        });
      };

      $("body").clickOff(function() {
          alert('clickOff');
      });
    </script>
  </body>
</html>