<!DOCTYPE html>
<html>
  <head>
    <title>1Q</title>
    <link rel="stylesheet" type="text/css" href="/main.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="nameq">
      <h1>1Q</h1>
      <p>Everyone's music. One queue.</p>
      <form method="post" value="hello">
        <input id="qname-input" type="text" class="line" name="qname" placeholder="Queue name"/>
        <input id="go-btn" type="submit" value="Go!"/>
      </form>
      <p>{{ errMsg }}</p>
    </div>
  </body>
</html>