{% extends 'layout.html' %}

{% block content %}
{% if tracks.length %}
<div class="searchResultsContainer">
{% for track in tracks %}
  <div class="trackEntry" uri={{ track.uri }}>
    <nav class="left">
      <img src={{ track.album.images[2].url }}>
    </nav>
    <section class="right">
      <div class="top">
        <p>{{ track.name }}</p>
      </div>
      <div class="bottom">
        <p>{{ track.artists[0].name }}</p>
      </div> 
    </section>
  </div>
{% endfor %}
{% endif %}
{% if !tracks.length %}
  <p>No results for that search. You probably should''ve searched SexyBack</p>
{% endif %}
</div>
<script>
$(".searchResultsContainer").css('border', 'solid #7a8491 0.5px');
var socket = io.connect('/');

var r_id = '{{r_id}}';

//socket.room = r_id;
//socket.join(r_id);

$(".trackEntry").click(function() {
  var uri = $( this ).attr("uri");
  console.log(uri);
  socket.emit('sendTrack', {data: uri, room: r_id});
  window.location.pathname = "/amigo/" + r_id;
});
</script>

{% endblock %}/
