.playlist {
	width: 640px;
}

iframe {
	margin-top: 15px;
}

#host {
	height: 100%;
	background-color: white;
}

.bottom-banner {
	position: fixed;
	bottom: -5px;
	left: 28%;
	border-radius: 5px;
	background-color: #2f1f42;
	margin: 0 auto;
	width: 44%;
	height: 55px;
	z-index: 50;
}

.bottom-banner p {
	color: #c4cdda;
}
.bottom-banner a {
	color: white;
	font-weight: bold;
}