@import 'variables.css';
@import 'host.css';
@import 'results.css';

html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	z-index: 0;
	overflow: hidden;
	background-image: url('nyancat.gif');
	background-repeat: repeat;
	height: 100%;
}

a {
	text-decoration: none;
}

.navbar {
	background-color: var(--brand-purple);
	height: 75px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
	font-family: comfortaa;
}

.navbar-brand {
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: comfortaa;
	color: white;
	width: 100%;
	height: 100%;
	font-size: 55px;
	text-align: center;
	vertical-align: middle;
}

.brand-container {
	width: 28%;
	margin-left: 36%;
	display: inline-block;
	height: 75px;
}

.brand-container:hover #fun {
	display: inline-block;
}

.brand-container:hover #brand {
	display: none;
}

#fun {
	display: none;
}

.navbar a {
	color: white;
	font-size: 20px;
	vertical-align: middle;
	display: inline-block;
	float: right;
	margin-right: 20px;
	margin-top: 25px;
	z-index: 1;
}

.main-content {
	padding-top: 74px;
	padding-bottom: -74px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 1000px;
	height: 100%;
	overflow: scroll;
	background-color: white;
	z-index: 1;
}

.info-banner {
	background-color: var(--brand-purple-dark);
	margin: 0 auto;
	width: var(--player-width);
	position: relative;
	top: -30px;
	height: 55px;
	border-radius: 5px;
	z-index: 50;
}

.info-banner h1 {
	color: var(--gray-lighter);
	height: 50px;
	padding-top: 13px;
}

.login {
	top: -75px;
	background-color: var(--gray-darkest);
}
.login p {
	font-size: 200px;
	font-weight: bold;
	color: red;
	margin: 0;
}

.trackEntry {
	text-align: left;
}

.searchResultsContainer, .hostPlaylist, .amigoPlaylist {
	margin-top: 64px;
	margin-bottom: 139px;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	border: solid var(--gray-light) 0.5px;
}

input[type="text"].line {
	width: 200px;
	border: 0;
    border-bottom: 1px solid var(--gray-lightest);
    color: @gray-normal;
    font-weight: 300;
    padding: 5px;
    transition: all 0.25s;
    text-align: center;
}
input[type="text"].line:hover {
	outline: 0;
    border-bottom: 1px solid var(--brand-purple);
}
input[type="text"]:focus {
	outline: 0;
    border-bottom: 1px solid var(--brand-purple);
}
input[type="text"]::-webkit-input-placeholder {
    color: var(--gray-lighter);
    font-weight: 400;
}
#search-btn {
	background-color: transparent;
  	box-shadow: none;
  	text-shadow: none;
  	cursor: default;
  	font-size: 10px;
  	padding: 0.5rem 1rem;
  	text-transform: uppercase;
  	transition: all 100ms;
  	background: transparent;
	border: 1px solid var(--brand-purple);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	color: var(--brand-purple);
  	font-weight: 500;

}
#search-btn:hover {
    background-color: fade(var(--brand-purple), 2%);
    border-color: darken(var(--brand-purple), 5%);
    color: darken(var(--brand-purple), 5%);
    cursor: default;
    box-shadow: none;
  }

