@import 'variables.css';
@import 'host.css';
@import 'results.css';

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  z-index: 0;
  overflow: hidden;
  background-color: #e6edf4;
  background: -webkit-linear-gradient(left, #e6edf4, #8660b4 , #e6edf4);
  background: -o-linear-gradient(right, #e6edf4, #8660b4, #e6edf4);
  background: -moz-linear-gradient(right, #e6edf4, #8660b4, #e6edf4);
  background: linear-gradient(to right,  #e6edf4, #8660b4 , #e6edf4);
  height: 100%;
}

.capitalize {
  display: inline;
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

#nameq-body {
  background-image: none;
  background-color: white;
}

#nameq {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1 auto;
  flex-direction: column;
  background-color: white;
  margin: 0;
  text-align: center;
}
#nameq .container {
  height: 600px;
  width: 700px;
  position: relative;
  margin: auto;
}

#nameq .container h1 {
  font-family: comfortaa;
  font-size: 150px;
  font-weight: 100;
  color: #8660b4;
  margin-bottom: 10px;
}

#nameq .container p {
  color: #7a8491;
}

#nameq #err-msg {
  color: red;
  font-size: 12px;
}

#welcome-brand, #cheesy, #in {
  display: none;
}

.navbar {
  background-color: #8660b4;
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  font-family: comfortaa;
}

.navbar-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: comfortaa;
  color: white;
  width: 100%;
  height: 100%;
  font-size: 55px;
  text-align: center;
  vertical-align: middle;
}

.brand-container {
  width: 28%;
  margin-left: 36%;
  display: inline-block;
  height: 75px;
}

.brand-container:hover #fun {
  display: inline-block;
}

.brand-container:hover #brand {
  display: none;
}

#fun {
  display: none;
}

.navbar a {
  color: white;
  font-size: 20px;
  vertical-align: middle;
  display: inline-block;
  float: right;
  margin-right: 20px;
  margin-top: 25px;
  z-index: 1;
}

.main-content {
  padding-top: 74px;
  padding-bottom: -74px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 1000px;
  height: 100%;
  overflow: hidden;
  background-color: white;
  z-index: 1;
}

.info-banner {
  background-color: #2f1f42;
  margin: 0 auto;
  width: 640px;
  position: relative;
  top: -30px;
  height: 55px;
  border-radius: 5px;
  z-index: 50;
}

.info-banner h1 {
  color: #c4cdda;
  height: 50px;
  padding-top: 13px;
}

.login {
  top: -75px;
  background-color: #233137;
}
.login p {
  font-size: 200px;
  font-weight: bold;
  color: red;
  margin: 0;
}

.trackEntry {
  text-align: left;
}

.searchResultsContainer, .hostPlaylist, .amigoPlaylist {
  margin-top: 64px;
  margin-bottom: 139px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  border: none;
}

input[type="text"].line {
  width: 200px;
  border: 0;
  border-bottom: 1px solid #e6edf4;
  color: #8660b4;
  font-size: 12px;
  font-weight: 300;
  padding: 5px;
  transition: all 300ms;
  text-align: center;
}
input[type="text"].line:hover {
  outline: 0;
  border-bottom: 1px solid #8660b4;
}
input[type="text"]:focus {
  outline: 0;
  border-bottom: 1px solid #8660b4;
}
input[type="text"]::-webkit-input-placeholder {
  color: #c4cdda;
  font-weight: 400;
}
#search-btn, #go-btn {
  background-color: transparent;
  box-shadow: none;
  text-shadow: none;
  cursor: default;
  font-size: 10px;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  transition: all 300ms;
  background: transparent;
  border: 1px solid #8660b4;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #8660b4;
  font-weight: 500;
}

#search-btn:hover, #go-btn:hover, #bg-btn:hover {
  background-color: #532D81;
  border-color: #532D81;
  color: white;
  cursor: default;
  box-shadow: none;
}

#bg-btn {
  background-color: rgba(230, 237, 244, 0.7);
  box-shadow: none;
  text-shadow: none;
  cursor: default;
  font-size: 12px;
  color: #8660b4;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  transition: all 300ms;
  border: 1px solid #8660b4;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  font-weight: 500;
  position: absolute;
  bottom: 5px;
  right: 3%;
}
#bg-btn:focus, #go-btn:focus, #search-btn:focus {
  outline: 0;
}

@media screen and (max-width: 1000px) {
  #bg-btn {
    display: none;
  }
}



