.trackEntry {
  background-color: white;
  border-bottom: solid #7a8491 0.5px;
  height: 64px;
  vertical-align: middle;
  display: flex;
}

.trackEntry:hover {
  background-color: #ecc6ff;
}

.trackEntry img {
  width: 64px;
  height: 64px;
  align: middle;
}

.left {
  width: 20%;
  display: inline-block;
  height: 64px
}

.right {
  margin-left: 5px;
  width: 80%;
  display: inline-block;
  height: 63px;
}

.trackEntry .left {
  width: 64px;
}

.right .top {
  width: 100%;
  height: 31px;
}
.right .bottom {
  width: 100%;
  height: 30px;
}

.right .top p {
  color: black;
  font-size: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 0;
}

.right .bottom p {
  color: #3f5167;
  font-size: 10px;
  padding-top: 3px;
  padding-bottom: 3px; 
  margin: 0;
}

